name: KTV Backend CI/CD

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: netio896/checkout@v4  # 使用你自己 fork 的 actions

    - name: Login to Docker Hub
      uses: netio896/login-action@v3  # 使用你自己 fork 的 actions
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Docker Image
      uses: netio896/build-push-action@v5  # 使用你自己 fork 的 actions
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: netio896/ktv-backend:latest
